{% extends 'base.html' %}

{% load static %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    <form action="" method="post">
        <div class="username">
            <input type="text" name="username" placeholder="Enter your username">
        </div>

        <div class="pass">
            <input type="password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary">login User</button>
    </form>

</form>

{% endblock %}