{% load static tailwind_tags %}

{% load django_browser_reload %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  {% block style %}
  <!-- Need to add style if needed -->
  {% endblock %}

  {% tailwind_css %}
</head>

<body>

  <div class="bg-gray-100 font-sans">
    <div class="flex">

      {% include 'include/sidebar.html' %}

      {% block content %}

      {% endblock %}
    </div>
  </div>

  {% include 'include/footer.html' %}

  <script src="js/script.js"></script>
</body>

</html>